<h1>Book My Show....</h1>
<table class= "home">
<tbody>
<tr><td><%= link_to "User", users_path %></td></tr>
<tr><td><%= link_to "Role", roles_path %></td></tr>
<tr><td><%= link_to "City", cities_path %></td></tr>
<tr><td><%= link_to "Location", locations_path %></td></tr>
<tr><td><%= link_to "Event", events_path %></td></tr>
<tr><td><%= link_to "Booking", bookings_path %></td></tr>
<tr><td><%= link_to "Category", categories_path %></td></tr>
<tr><td><%= link_to "Notification", notifications_path %></td></tr>
</tbody>
</table>
